@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Google+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

.template-1-container {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: 'Google Sans', serif;
}

.template-1-container .header {
  text-align: center;
}

.template-1-container .contact,
.template-1-container .about,
.template-1-container .education,
.template-1-container .experience,
.template-1-container .skills,
.template-1-container .certifications,
.template-1-container .profile-photo {
  margin-top: 20px;
}

.template-1-container h2,
.template-1-container h3,
.template-1-container h4 {
  margin-block-start: 0.43em;
  margin-block-end: 0em;
}

.template-1-container footer{
  margin-top: 30px;
  padding: 15px;
}

.template-1-container .container {
  width: 100%;
  padding-left:10%;
    padding-right:10%;
    padding-top: 1%;
    padding-bottom: 1%;
  margin: 0;
  overflow: hidden;
  max-width: unset;
}

.template-1-container img {
  transition: transform 1.5s ease-out;
}

.template-1-container img:hover {
  display: block;
  transform: scale(1.02);
  transition: transform 1.5s ease-out;
  object-fit: cover;
}

.template-1-container .grad-orange {
  background-image: linear-gradient(to right, #FF6E00, #FF6E00, #FE9001);
}

.template-1-container .grad-progress {
  background-image: linear-gradient(to right, #00ff9d, #00ff9d, #01e0fe);
}

.template-1-container .orange {
  color: #FF6E00;
}

.template-1-container .dark {
  background-color: #191B1B;
  color: #B2ADA2;
}

.template-1-container .white {
  color: white;
}

.template-1-container .center {
  text-align: center;
}

.template-1-container .section-title {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2.2em;
  text-align: center;

}

.template-1-container .main-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin-bottom: 0px;
}

.template-1-container .card {

  text-align: center;
  border: 0px solid white;
  border-radius: 15px;
  background-color: white;
  width: 70%;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 8%;
}

.template-1-container .card-space {
  transition: transform 2s ease;
}

.template-1-container .card-space:hover {
  transform: scale(1.02);
  -webkit-transition: transform 2s ease-out;
  -moz-transition: transform 2s ease-out;
  -o-transition: transform 2s ease-out;
  transition: transform 2s ease;
}

.template-1-container .card-image {
  width: 100%;

  object-position: 5% 95%;
}

.template-1-container .card-body {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4%;
  padding-bottom: auto;
  transform: scale(0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 80%;
}

.template-1-container .card-body p {
  text-align: justify;
  font-size: medium;
}

.template-1-container .card-top {
  overflow: hidden;
  text-align: center;
  height: 40%;
}

.template-1-container .git {
  position: absolute;
  top: -15%;
  right: -10%;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: auto;
}

.template-1-container .medium {
  font-size: larger;
}

.template-1-container .git-link {
  color: black;
  text-decoration: none;
}

.template-1-container .git-link:hover {
  color: blue;

}


.template-1-container .entry {
  border: 0px solid white;
  border-radius: 10px;
  transition: background-color 2s ease;
  margin-top: 0%;
  margin-bottom: 0%;
  transform: scale(0.8);
  padding: 10px 20px;
}

.template-1-container .light-entry {
  background-color: white;
  color: black;
  transition: background-color 1s ease;
  border: 0px solid #B2ADA2;
  border-radius: 12px;
  border-bottom: 0.1px solid gray;
}

.template-1-container .dark-entry {

  color: rgb(197, 194, 194);
  transition: background-color 2s ease;
  border-bottom: 0.1px solid gray;
}

.template-1-container .light-entry:hover {
  background-color: rgb(221, 221, 221);
  color: black;
  transition: background-color 1s ease;
  border: 0px solid #B2ADA2;
  border-radius: 12px;
}

.template-1-container .dark-entry:hover {
  background-color: rgb(43, 41, 41);
  color: rgb(197, 194, 194);
  transition: background-color 2s ease;
}

.template-1-container .inline {
  display: flex;
}

.template-1-container .space-between {
  justify-content: space-between;
}

.template-1-container .space-around {
  justify-content: space-around;
}

.template-1-container .logo {
  justify-content: center;
  padding: 1%;
  height: 8em;
  width: 8em;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  transform: scale(0.7);
  overflow: hidden;
}

.template-1-container .logo img {
  transform: scale(0.7);
  transition: transform 1.5s ease;
}

.template-1-container .logo img:hover {
  transform: scale(0.8);
  transition: transform 1.5s ease;
}

.template-1-container .details {
  padding-top: 1%;
  padding-bottom: 1%;
}

.template-1-container .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

}

.template-1-container .skill-card {
  width: 80%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  transition: background-color 1s ease;
  border-radius: 10px;
}

.template-1-container .social {
  background-color: white;
  border: 0px solid white;
  border-radius: 15px;
  justify-content: space-around;
  padding-left: auto;
  padding-right: auto;
  margin-left: 5%;
  width: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.template-1-container .side {

  height: 100%;
  width: 20%;
  display: flex;
  padding: 1%;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

.template-1-container .social-link {
  color: #191B1B;
  padding: 5%;
}

.template-1-container .centre {
  text-align: center;
}

.template-1-container .photo {
  padding-top: auto;
  padding-bottom: auto;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.template-1-container .pro-pic {

  align-items: center;
  padding-top: auto;
  padding-bottom: auto;
  border: 5px solid black;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 1px 3px 5px 1px gray;
  background-size: cover;
  overflow: hidden;
  vertical-align: middle;
  margin: 1%;
  margin-top: auto;
  margin-bottom: auto;
  width: 11em;
  height: 11em;
  object-fit: fill;
  position: relative;

}


.template-1-container .pro-pic img {
  position: absolute;
  left: -20px;
  top: -15px;

  display: block;
  width: 120%;

}

.template-1-container .writing {
  padding-right: 5%;
}

.template-1-container .about {
  position: relative;
  top: 30px;
  width: 90%;
  border: 0px solid white;
  background-color: white;
  border-radius: 15px;
  padding: 2%;
  height: fit-content;
  text-align: justify;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.template-1-container .about .section-title {
  margin-top: 0;
  margin-bottom: 2%;
}

.template-1-container .example {
  position: absolute;
  width: 20em;

}

.template-1-container .stuff {
  position: absolute;
  width: 100%;
  top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.template-1-container .head-back {
  height: 22em;
  overflow: hidden;
}

.template-1-container .stuff-head {
  text-align: center;
  height: 5em;
}

.template-1-container .stuff-head p {
  font-family: 'Roboto Mono', sans-serif;
  font-size: xx-large;
}

@media screen and (max-width:700px) {
  .template-1-container .side {
    width: 100%;
  }

  .template-1-container .head-back {
    height: 40em;
  }

  .template-1-container .inline {
    display: block;
    justify-content: center;
  }

  .template-1-container .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .template-1-container .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .template-1-container .entry {
    text-align: center;
    padding-top: 5%;
    border: 1px solid #B2ADA2;
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    transform: scale(0.8);

  }

  .template-1-container .card {
    width: 80%;
  }

  .template-1-container .card-body p,
  .template-1-container h4 {
    font-size: small;
  }

  .template-1-container .card-body h3 {
    font-size: medium;
  }

  .template-1-container .pro-pic,
  .template-1-container .about {
    margin-left: auto;
    margin-right: auto;

  }

  .template-1-container .about {
    padding: 5%;
  }

}


.template-1-container .inline-first {
  display: flex;
}

.template-1-container .inline-second {
  display: flex;
}

@media screen and (max-width:1400px) {
  .template-1-container .inline-first {
    display: block;
  }
}

@media screen and (max-width:700px) {
  .template-1-container .inline-second {
    display: block;
  }

  .template-1-container .skill-card {
    padding: 0%;
  }

  .template-1-container .skill {
    gap: 0px;
  }
}

@media screen and (max-width:500px) {
  .template-1-container .inline-second {
    display: block;
  }

  .template-1-container .skill-card {
    padding: 0%;
  }

  .template-1-container .skill-card h5 {
    margin-bottom: 0%;
  }

  .template-1-container .skills {
    gap: 0px;
  }

  .template-1-container .head-back {
    height: 42em;
  }

  .template-1-container .entry {
    margin: -20px;
  }
}