@media (min-width: 768px) {
    .template-3-container {
        font-size: 16px;
   }
}
.template-3-container {
    margin: 0;
    font-size: 14px;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.template-3-container .navbar{
    background: unset;
}

.template-3-container .navbar a{
    cursor: pointer;
}

.template-3-container code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.template-3-container .bgstyle {
    background-size: 1200% 1200%;
    animation: BackgroundAnimation 70s ease infinite;
    height: 100%;
}
.template-3-container .bg-gradient {
    background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}
.template-3-container .navbar-transparent {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s;
}
.template-3-container .navbar-white {
    background-color: rgba(234, 236, 239, 0.81);
    transition: background-color 0.2s;
}
.template-3-container .brand {
    color: #363636 !important;
}
.template-3-container .nav-item {
    transition: color, 0.2s;
}
.template-3-container .toggler {
    border: none;
    padding: 4px;
    border-radius: 4px;
}
.template-3-container .toggler:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
}
.template-3-container .socialicons {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.8s;
    margin: 4px;
    font-size: 3em;
}
.template-3-container .socialicons:hover {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.8s;
    margin: 4px;
}
.template-3-container .title {
    height: 100%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    margin-top: 0px;
}
.template-3-container .typist {
    min-height: 6rem;
}
@media (min-width: 360px) {
    .template-3-container .typist {
        min-height: 4rem;
   }
}
@media (min-width: 768px) {
    .template-3-container .typist {
        min-height: 2.5rem;
   }
}
.template-3-container .card {
    transition: transform 0.3s, box-shadow 0.3s;
}
.template-3-container .card:hover {
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.175) !important;
    transform: translateY(-2px);
    transition: transform 0.3s, box-shadow 0.3s;
}
.template-3-container .skills-tabs {
    flex-grow: 1;
}
.template-3-container .skills-tab {
    flex-grow: 1;
    text-align: center;
}
.template-3-container .progress,.template-3-container  .progress-bar-animation {
    transform-origin: left;
}
.template-3-container .progress > *,.template-3-container .progress-bar-animation > * {
    transform: scaleX(0);
}
.template-3-container .progress-bar-animation > * {
    animation: progress 1.5s ease-in-out forwards;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
   }
    to {
        transform: translateY(-2000px);
   }
}
@keyframes BackgroundAnimation {
    0% {
        background-position: 0% 7%;
   }
    50% {
        background-position: 100% 94%;
   }
    100% {
        background-position: 0% 7%;
   }
}
@keyframes progress {
    from {
        transform: scaleX(0);
        transform-origin: left;
   }
    to {
        transform-origin: left;
        transform: scaleX(1);
   }
}


.template-3-container footer {
    padding: 20px;
    background-color: #F5F5F5;
    font: 300 18px / 25px 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.template-3-container footer a {
    margin-left: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.template-3-container footer a:hover {
    color: var(--primary-color);
    transition: 0.5s;
    text-decoration: underline;
}